
# These are the files that I want to ignore:
*.pdf
**/*/packs-colo
**/*/packs-cp
**/*/packs-nvim
**/*/packs-unix
**/*/packs-win64
.directory
.netrwhist
grep_CRLF.ufco
oldfiles.ps1
nvim/FrenchDate
scratch.vim
tags
tags-cn
tags-te
thesaurus
vim/spell

