
# These are the files that I want to ignore:
*.pdf
.directory
.netrwhist
grep_CRLF.ufco
nvim/FrenchDate
repos-fzf
repos-packs
scratch.vim
startuptimes
tags
tags-cn
tags-te
thesaurus
vim/plugin/fzf
vim/spell

