
# These are the files that I want to ignore:
*.fetl
*.pdf
.directory
.netrwhist
grabbed/
plugin/fzf
**/*/packs-cp
**/*/packs-nvim
**/*/packs-unix
**/*/packs-win32
profile.log
scratch.vim
spell/
tags
tags-cn
tags-te
thesaurus/
Vims-searchString.txt

